<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Guided Coaching Links </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->
                                                <!-- users edit account form start -->
                                                <form id="validate" action="/admin/contentadd/?id=<%-Id%>" method="post"
                                                    class="form-validate" novalidate="novalidate"
                                                    enctype="multipart/form-data">


                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label hidden class="form-label" for="name">Link Type</label>
                                                            <select hidden class="form-control" name="type" id="">
                                                                <option value="0">Video</option>
                                                                <option value="1">Image</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Video(URL)</label>
                                                            <input required="text" class="form-control"
                                                                placeholder="Name" value="" name="link" id="link">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label"
                                                                for="description">Description</label>
                                                            <textarea class="form-control" name="description"
                                                                id="description" cols="30" rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                    <input hidden type="text" class="form-control"
                                                        placeholder="categories_guid_coach_id" value="<%-Id%>"
                                                        name="categories_guid_coach_id" id="categories_guid_coach_id">

                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <button type="submit"
                                                            class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save
                                                            Changes</button>
                                                        <a href="/admin/guid_coachedit/<%-Id%>"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>

                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>



                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>


                    <!-- category image -->
                    <script>
                        imgInp.onchange = evt => {
                            const [file] = imgInp.files
                            if (file) {
                                blah.src = URL.createObjectURL(file)
                            }
                        }
                    </script>
                    <!-- validate form  -->
                    <script>
                        $(document).ready(function () {
                            // alert("vikas")
                            $("#validate").validate({
                                rules: {

                                    link: {
                                        required: true,
                                        url: true,
                                        pattern: /^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/

                                    },

                                    description: {
                                        required: true,
                                    },
                                    agree: "required"
                                }, messages: {

                                    link: {
                                        required: "Please enter a video link",
                                        url: "Please enter a valid URL",
                                        pattern: "Please enter a valid YouTube video link"

                                    },
                                    description: {
                                        required: " Please enter a description",
                                    },
                                    agree: "Please accept our policy"
                                }
                            });
                        });  
                    </script>