<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Student edit</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->

                                                <!-- users edit ends -->
                                                <!-- users edit account form start -->
                                                <form action="/admin/studentviewupdate/<%-userview.id%>" method="post" class="form-validate"
                                                    novalidate="novalidate" enctype="multipart/form-data">

                                                    <label class="form-label" for="Image">Image</label>
                                                    <div class="col-md-6>">
                                                        <input type="file"  name="image" id="fil_up" accept="image/*">
                                                        <div class="mt-50">
                                                            
                                                            <img id="imgPreview" width="220" height="180"
                                                                src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                alt="" srcset="">
                                                        </div>
                                                    </div>


                                                    <!-- <div class="d-flex mb-2">
                                                        <img id="myImg"
                                                            src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                            alt="users avatar"
                                                            class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer"
                                                            height="100" width="100">
                                                        <div class="mt-50">
                                                            <h4></h4>
                                                        </div>
                                                    </div> -->


                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">First Name</label>
                                                            <input  required="text" class="form-control"
                                                                placeholder="Name" value="<%-userview.first_name%>"
                                                                name="first_name" id="name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Last Name</label>
                                                            <input  required="text" class="form-control"
                                                                placeholder="Name" value="<%-userview.last_name%>"
                                                                name="last_name" id="name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="email">E-mail</label>
                                                            <input  readonly type="email" class="form-control"
                                                                placeholder="Email" value="<%-userview.email%>"
                                                                name="email" id="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="company">Address</label>
                                                            <input  required type="text" name="address"
                                                                class="form-control" value="<%-userview.address%>"
                                                                placeholder="Address name" id="company">
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <button type="submit"
                                                            class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save
                                                            Changes</button>
                                                        <a href="/admin/studentlisting"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>
                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable();
                        });

                    </script>
                        <!-- SHow Images -->
                        <script>
                            $(document).ready(function () {
                                $("#fil_up").change(function (e) {
                                    //console.log(URL.createObjectURL(e.target.files[0]));
                                    $("#imgPreview").attr("src", URL.createObjectURL(e.target.files[0]));
                                });
                            });
                        </script>