<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Category Edit</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->

                                                <!-- users edit ends -->
                                                <!-- users edit account form start -->
                                                <form action="/admin/categoryviewupdate/<%-categoryview.id%>" method="post"
                                                    class="form-validate" novalidate="novalidate"
                                                    enctype="multipart/form-data">

                                                    <!-- <div class="d-flex mb-2">
                                                        <input  type="file" name="image" required>
                                                        <img  id="myImg" src="<%-categoryview.image%>" alt="users avatar"
                                                            class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer"
                                                            height="100" width="100">
                                                        <div class="mt-50">
                                                            <h4></h4>
                                                        </div>
                                                    </div> -->
                                                    <div class="d-flex mb-2 align-items-center">
                                                        <input  type="file" name="image" id="fil_up" accept="video/*" required>
                                                       
                                                        <div class="mt-50">
                                                            <h4>Video</h4>
                                                            <video width="220" height="180" controls>
                                                                <source src="<%-categoryview.image%>" type="video/mp4">
                
                                                              </video>
                                                            
                                                        </div> 
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Name</label>
                                                            <input  required="text" class="form-control"
                                                                placeholder="Name" value="<%-categoryview.name%>"
                                                                name="name" id="name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Description</label>
                                                            <textarea   class="form-control" name="description" id="" cols="30" rows="10"><%-categoryview.description%></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                                                        <a href="/admin/categorylisting"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>

                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
           
 
  
                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>

            
                <script>
                    // Get the modal
                    var modal = document.getElementById("myModal");
                    
                    // Get the image and insert it inside the modal - use its "alt" text as a caption
                    var img = document.getElementById("myImg");
                    var modalImg = document.getElementById("img01");
                    var captionText = document.getElementById("caption");
                    img.onclick = function(){
                      modal.style.display = "block";
                      modalImg.src = this.src;
                      captionText.innerHTML = this.alt;
                    }
                    
                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];
                    
                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() { 
                      modal.style.display = "none";
                    }
                    </script>