<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Coach edit</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->
                                                <!-- users edit account form start -->
                                                <form id="validate" action="/admin/caochviewupdate/<%-userview.id%>"
                                                    method="post" class="form-validate" novalidate="novalidate"
                                                    enctype="multipart/form-data">

                                                    <div class="col-md-6>">
                                                        <input type="file" name="image" id="fil_up" accept="image/*">
                                                        <div class="mt-50">
                                                            <h4>Image</h4>
                                                            <img id="imgPreview" width="220" height="180"
                                                                src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                alt="" srcset="">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6>">
                                                        <input type="file" name="cover_video" id="fil_ups">
                                                        <div class="mt-50">
                                                            <h4> Cover video</h4>
                                                            <video id="videoPreview" width="220" height="180" controls>
                                                                <source
                                                                    src="<%- userview?.cover_video ==''?'/Logo/imagesplaceholder.png':userview.cover_video %>"
                                                                    type="video/mp4">

                                                            </video>
                                                            <!-- <img id="imgPreview" width="220" height="180" src="" alt=""
                                                                srcset=""> -->
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="first_name">First
                                                                Name</label>
                                                            <input required="text" class="form-control"
                                                                placeholder="First Name"
                                                                value="<%-userview.first_name%>" name="first_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Last Name</label>
                                                            <input required="text" class="form-control"
                                                                placeholder="Name" value="<%-userview.last_name%>"
                                                                name="last_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="email">Email</label>
                                                            <input required="email" class="form-control"
                                                                placeholder="Email" value="<%-userview.email%>"
                                                                name="email">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location">Address</label>
                                                            <input required type="address" class="form-control"
                                                                placeholder="Address" value="<%-userview.address%>"
                                                                name="address">
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location">$ Hourly rate
                                                                (hr)</label>
                                                            <input required type="location" class="form-control"
                                                                placeholder="$Horly rate"
                                                                value="<%-userview.hourly_rate%>" name="hourly_rate">
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location">About</label>
                                                            <textarea name="about_me" placeholder="About"
                                                                class="form-control"
                                                                id=""><%-userview.about_me%></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location">Playing Experience</label>
                                                            <textarea name="playing_experience" placeholder="playing experience"
                                                                class="form-control"
                                                                id=""><%-userview.playing_experience%></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location">Coaching Experience</label>
                                                            <textarea name="coaching_experience" placeholder="coaching experience"
                                                                class="form-control"
                                                                id=""><%-userview.coaching_experience%></textarea>
                                                        </div>
                                                    </div>

                                                  


                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> Do you have own
                                                                courts ?</label>
                                                            <select name="own_courts" class="form-control" id="">
                                                                <option value="">Please select ...</option>
                                                                <option value="yes" <%-userview.own_courts=='yes'
                                                                    ?'selected':'' %>>Yes</option>
                                                                <option value="no" <%-userview.own_courts=='no'
                                                                    ?'selected':'' %> >No</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> Are you Willing to
                                                                travel for lessons ?</label>
                                                            <select name="willing_to_travel" class="form-control" id="">
                                                                <option value="">Please select ...</option>
                                                                <option value="yes" <%-userview.willing_to_travel=='yes'
                                                                    ?'selected':'' %>>Yes</option>
                                                                <option value="no" <%-userview.willing_to_travel=='no'
                                                                    ?'selected':'' %>>No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> Do you have
                                                                provide balls ?</label>
                                                            <select name="provide_balls" class="form-control" id="">
                                                                <option value="">Please select ...</option>
                                                                <option value="yes" <%-userview.provide_balls=='yes'
                                                                    ?'selected':'' %>>Yes</option>
                                                                <option value="no" <%-userview.provide_balls=='no'
                                                                    ?'selected':'' %>>No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> What age groups do
                                                                you coach ?</label>
                                                            <select name="age_group" class="form-control" id="">
                                                                <option value="">Please select ...</option>
                                                                <option value="all" <%-userview.age_group=='all'
                                                                    ?'selected':'' %>>All</option>
                                                                <option value="kids" <%-userview.age_group=='kids'
                                                                    ?'selected':'' %>>kids</option>
                                                                <option value="teens" <%-userview.age_group=='teens'
                                                                    ?'selected':'' %>>Teens</option>
                                                                <option value="adults" <%-userview.age_group=='adults'
                                                                    ?'selected':'' %>>Adults</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="col-md-6">



                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> Add
                                                                Languages</label>
                                                            <div class="langs">
                                                                <div class="d-flex">
                                                                    <input type="text" class="form-control" />
                                                                    <button class="border bg-primary text-white">
                                                                        Add
                                                                    </button>
                                                                </div>

                                                                <span> English</span>
                                                                <span> Hindi</span>
                                                                <span> Marathi</span>
                                                                <span> English</span>
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="location"> Edit
                                                                Languages</label>
                                                            <div class="langs_edit">
                                                                <div class="d-flex">
                                                                    <input type="text" id="languaged" value=""
                                                                        class="form-control" />
                                                                    <button onclick="add_language('<%-userview.id%>')"
                                                                        type="button"
                                                                        class="border bg-primary text-white">
                                                                        Add
                                                                    </button>
                                                                </div>
                                                                <div class="edit_langs">


                                                                    <% userview.language_details.forEach(function(language,
                                                                        i){ %>
                                                                        <span
                                                                            onclick="deleted_language('<%-language?.id%>')">
                                                                            <%-language?.language%> <i data-feather="x"
                                                                                    class="font-medium-5"></i></span>
                                                                        <% }); %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="documented">
                                                                Certificates</label>
                                                            <div class="langs_edit">
                                                                <div class="d-flex">
                                                                    <input type="file" id="documented" name="document"
                                                                        value="" accept="image/*"
                                                                        class="form-control" />
                                                                    <button onclick="add_document('<%-userview.id%>')"
                                                                        type="button"
                                                                        class="border bg-primary text-white">
                                                                        Add
                                                                    </button>
                                                                </div>
                                                                <!-- <div class="edit_langs">


                                                                    <% userview.language_details.forEach(function(language,
                                                                        i){ %>
                                                                        <span
                                                                            onclick="deleted_language('<%-language?.id%>')">
                                                                            <%-language?.language%> <i data-feather="x"
                                                                                    class="font-medium-5"></i></span>
                                                                        <% }); %>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <!-- <label class="form-label" for="name">Certificates</label> -->
                                                        <div class="d-flex flex-wrap">

                                                            <% userview.cerificates_details.forEach(function(cerificates,
                                                                i){ %>
                                                                <div class="me-2 mb-2">
                                                                    <img id="myImg"
                                                                        src="<%- cerificates?.image ==''?'/Logo/imagesplaceholder.png':cerificates.document %>"
                                                                        alt="user's avatar"
                                                                        class="user-avatar users-avatar-shadow rounded cursor-pointer"
                                                                        height="100" width="100">
                                                                    <span onclick="deleted_cerificates('')"><i
                                                                            data-feather="x"
                                                                            class="font-medium-5"></i></span>
                                                                </div>
                                                                <% }); %>
                                                                    <!-- <div class="me-2 mb-2">
                                                                        <img id="myImg"
                                                                            src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                            alt="user's avatar"
                                                                            class="user-avatar users-avatar-shadow rounded cursor-pointer"
                                                                            height="100" width="100">
                                                                    </div>
                                                                    <div class="me-2 mb-2">
                                                                <img id="myImg"
                                                                    src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                    alt="user's avatar"
                                                                    class="user-avatar users-avatar-shadow rounded cursor-pointer"
                                                                    height="100" width="100">
                                                            </div> -->
                                                        </div>
                                                    </div>



                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <button type="submit"
                                                            class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save
                                                            Changes</button>
                                                        <a href="/admin/caochlisting"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>

                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
                <style>
                    .edit_langs span {
                        background: #dcd9ff;
                        padding: 2px 4px;
                        display: inline-flex;
                        margin-top: 7px;
                        border-radius: 5px;
                    }
                </style>


                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>


                    <!-- category image -->
                    <script>
                        imgInp.onchange = evt => {
                            const [file] = imgInp.files
                            if (file) {
                                blah.src = URL.createObjectURL(file)
                            }
                        }
                    </script>
                    <!-- validate form  -->
                    <script>
                        $(document).ready(function () {
                            // alert("vikas")
                            $("#validate").validate({
                                rules: {

                                    first_name: {
                                        required: true,
                                        minlength: 2 // For length of lastname
                                    },
                                    last_name: {
                                        required: true,
                                        minlength: 2 // For length of lastname
                                    },
                                    email: {
                                        required: true,
                                    },


                                    password: {
                                        required: true,
                                    },
                                    address: {
                                        required: true,
                                    },
                                    hourly_rate: {
                                        required: true,
                                    },
                                    about_me: {
                                        required: true,
                                    },
                                    playing_experience: {
                                        required: true,
                                    },
                                    coaching_experience: {
                                        required: true,
                                    },

                                    own_courts: {
                                        required: true,
                                    },
                                    willing_to_travel: {
                                        required: true,
                                    },

                                    provide_balls: {
                                        required: true,
                                    },
                                    age_group: {
                                        required: true,
                                    },


                                }, messages: {

                                    first_name: {
                                        required: " Please enter a first name",
                                        minlength: " Your first name must consist of at least 2 characters"
                                    },

                                    last_name: {
                                        required: " Please enter a last  name",
                                        minlength: "Your last name must consist of at least 2 characters"
                                    },
                                    email: {
                                        required: "Please enter a email ",

                                    },

                                    address: {
                                        required: " Please enter a address",
                                    },
                                    hourly_rate: {
                                        required: "Please enter a Hourly rate",

                                    },
                                    about_me: {
                                        required: "Please enter a About me",
                                    },
                                    playing_experience: {
                                        required: " Please enter a playing experience",
                                    },
                                    coaching_experience: {
                                        required: " Please enter a coaching experience",
                                    },
                                    own_courts: {
                                        required: " Please enter a own_courts",
                                    },
                                    willing_to_travel: {
                                        required: " Please enter a willing to travel",
                                    },
                                    provide_balls: {
                                        required: " Please enter a provide balls",

                                    },
                                    age_group: {
                                        required: " Please enter a age group",
                                    }
                                }
                            });
                        });  
                    </script>
                    <script>
                        $("#validate input").on("keypress", function (e) {
                            if (e.which === 32 && !this.value.length)
                                e.preventDefault();
                        });
                        $("#validate textarea").on("keypress", function (e) {
                            if (e.which === 32 && !this.value.length)
                                e.preventDefault();
                        });
                    </script>
                    <!-- SHow Images -->
                    <script>
                        $(document).ready(function () {
                            $("#fil_up").change(function (e) {
                                //console.log(URL.createObjectURL(e.target.files[0]));
                                $("#imgPreview").attr("src", URL.createObjectURL(e.target.files[0]));
                            });
                        });
                    </script>
                    <!-- SHow Video -->
                    <script>
                        $(document).ready(function () {
                            $("#fil_ups").change(function (e) {
                                //console.log(URL.createObjectURL(e.target.files[0]));
                                $("#videoPreview").attr("src", URL.createObjectURL(e.target.files[0]));
                            });
                        });
                    </script>
                    <!-- add_language -->
                    <script>
                        function add_language(userId) {

                            const values = $("#languaged").val();

                            $.ajax({
                                type: "POST",
                                url: "/admin/add_language",
                                data: {
                                    user_id: userId,
                                    name: values
                                },
                                success: function (response) {
                                    console.log(response);
                                    if (response == true) {
                                        location.reload()

                                    }
                                },
                                error: function (response) {
                                    console.log(response);
                                }
                            });

                        }
                    </script>
                    <!-- add_document -->
                    <script>
                        function add_document(userId) {

                        
                            var values = $('#documented').prop('files')[0];
                            

                            var formData = new FormData();
                            formData.append('user_id', userId);
                            formData.append('document', values);

                            $.ajax({
                                type: "POST",
                                url: "/admin/add_document",
                                data: formData,
                                // data: {
                                //     user_id: userId,
                                //     document: values
                                // },
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    console.log(response);
                                    if (response == true) {
                                        location.reload()

                                    }
                                },
                                error: function (response) {
                                    console.log(response);
                                }
                            });

                        }
                    </script>
                    <!-- DATA USER DELETED  -->
                    <script>
                        function deleted_language(id) {
                            // alert(category_id)
                            const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: "btn btn-success",
                                    cancelButton: "btn btn-danger"
                                },
                                buttonsStyling: false
                            });
                            swalWithBootstrapButtons.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel!",
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {


                                    $.ajax({
                                        type: "POST",
                                        url: "/admin/deleted_language",
                                        data: {
                                            id: id,

                                        },
                                        success: function (response) {
                                            ;
                                            if (response == true) {
                                                swalWithBootstrapButtons.fire({
                                                    title: "Deleted!",
                                                    text: "The language has been deleted",
                                                    icon: "success"
                                                }).then((suc) => {
                                                    location.reload()
                                                });

                                            }
                                        },
                                        error: function (response) {

                                        }
                                    });

                                } else if (
                                    /* Read more about handling dismissals below */
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {
                                    swalWithBootstrapButtons.fire({
                                        title: "Cancelled",
                                        text: "Your questions is safe :)",
                                        icon: "error"
                                    });
                                }
                            });
                        }
                    </script>