<%- include('../common/header.ejs'); %>

<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <%- include('../common/navbar.ejs'); %>
  <!-- END: Header-->


  <!-- BEGIN: Main Menu Sidebar -->
  <%- include('../common/sidebar.ejs'); %>
  <!-- END: Main Menu Sidebar-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-start mb-0">Coach View</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>> COACH DETAILS  <<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        <section class="app-user-edit">
          <div class="card">
            <div class="card-body">

              <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                  <!-- users edit start -->

                  <!-- users edit ends -->
                  <!-- users edit account form start -->
                  <form action="" method="post" class="form-validate" novalidate="novalidate" enctype="multipart/form-data">

                    <div class="row">
                      <label class="form-label" for="name">Image</label>
                      <div class="d-flex mb-2">
                        <!-- <input  type="file" name="image" required> -->
                        <img id="myImg" src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>" alt="users avatar" class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="100" width="100">
                        <div class="mt-50">

                          <h4></h4>
                        </div>
                      </div>
                      <label class="form-label" for="name">Cover Video</label>
                      <div class="d-flex mb-2">
                        <!-- <input  type="file" name="image" required> -->

                        <video height="150" width="150" controls>
                          <source src="<%- userview?.cover_video == null ?'/Logo/imagesplaceholder.png':userview.cover_video %>" type="video/mp4">
                        </video>
                        <!-- <img id="myImg"
                                                                src="<%- userview?.cover_video == null ?'/Logo/imagesplaceholder.png':userview.cover_video %>"
                                                                alt="users avatar"
                                                                class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer"
                                                                height="100" width="100">
                                                            <div class="mt-50"> -->

                        <h4></h4>
                      </div>
                    </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="name">First Name</label>
                    <input readonly required="text" class="form-control" placeholder="Name" value="<%-userview.first_name%>" name="name" id="name">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="name">Last Name</label>
                    <input readonly required="text" class="form-control" placeholder="Name" value="<%-userview.last_name%>" name="name" id="name">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="email">E-mail</label>
                    <input disabled readonly type="email" class="form-control" placeholder="Email" value="<%-userview.email%>" name="email" id="email">
                  </div>
                </div>
       
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company">Address</label>
                    <input readonly required type="text" name="address" class="form-control" value="<%-userview.address%>" placeholder="Address name" id="company">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="about_me">About</label>
                    <textarea readonly name="about_me" class="form-control" id=""><%-userview.about_me%></textarea>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="playing_experience">Playing Experience</label>
                    <textarea readonly name="playing_experience" class="form-control" id=""><%-userview.playing_experience%></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="coaching_experience">Coaching Experience</label>
                    <textarea readonly name="coaching_experience" class="form-control" id=""><%-userview.coaching_experience%></textarea>
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="hourly_rate">Hourly rate
                      (hr)</label>
                    <input readonly required type="text" name="hourly_rate" class="form-control" value="$<%-userview.hourly_rate%>" placeholder="hourly_rate" id="hourly_rate">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="own_courts">Do you have own
                      courts ?</label>
                    <input readonly required type="text" name="own_courts" class="form-control" value="<%-userview.own_courts%>" placeholder="own_courts name" id="own_courts">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="willing_to_travel">Are you
                      Willing to travel for lessons ?</label>
                    <input readonly required type="text" name="willing_to_travel" class="form-control" value="<%-userview.willing_to_travel%>" placeholder="willing_to_travel name" id="willing_to_travel">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="provide_balls">Do you have
                      provide balls ?</label>
                    <input readonly required type="text" name="provide_balls" class="form-control" value="<%-userview.provide_balls%>" placeholder="provide_balls name" id=age_group">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="	age_group">What age groups
                      do you coach ?</label>
                    <input readonly type="text" name="age_group" class="form-control" value="<%-userview.age_group%>" placeholder="age_group name" id="age_group">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company">Total bookings
                    </label>
                    <input readonly required type="text" name="total_booking" class="form-control" value="<%-userview?.dataValues.total_booking%>" placeholder="Address name" id="company">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company"> Total earning
                    </label>
                    <input readonly required type="text" name="address" class="form-control" value="$ <%= userview?.dataValues.total_earning%>" placeholder="Address name" id="company">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company"> Sport
                    </label>
                    <input readonly required type="text" name="Sport" class="form-control" value="<%-userview?.user_sports_details[0]?.sports_details?.name%>" placeholder="Sport" id="company">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company"> Cancellation Rate
                    </label>
                    <input readonly required type="text" name="Cancellation Rate" class="form-control" value="<%-userview?.dataValues?.cancel_booking/userview?.dataValues?.total_booking%>" placeholder="Sport" id="company">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-1">
                    <label class="form-label" for="company">Langauges</label>

                    <% userview.language_details.forEach(function(language, i){ %>
                    <li><%-language?.language%></li>
                    <% }); %>
                  </div>
                </div>
                <div class="row">
                  <label class="form-label" for="name">Certificates</label>
                  <div class="d-flex flex-wrap">

                    <% userview.cerificates_details.forEach(function(cerificates,
                                                                i){ %>
                    <div class="me-2 mb-2">
                      <img id="myImg" src="<%- cerificates?.image ==''?'/Logo/imagesplaceholder.png':cerificates.document %>" alt="user's avatar" class="user-avatar users-avatar-shadow rounded cursor-pointer" height="100" width="100">

                    </div>
                    <% }); %>
                    <!-- <div class="me-2 mb-2">
                                                                        <img id="myImg"
                                                                            src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                            alt="user's avatar"
                                                                            class="user-avatar users-avatar-shadow rounded cursor-pointer"
                                                                            height="100" width="100">
                                                                    </div>
                                                                    <div class="me-2 mb-2">
                                                                <img id="myImg"
                                                                    src="<%- userview?.image ==''?'/Logo/imagesplaceholder.png':userview.image %>"
                                                                    alt="user's avatar"
                                                                    class="user-avatar users-avatar-shadow rounded cursor-pointer"
                                                                    height="100" width="100">
                                                            </div> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="trav_box">
                    <div class="trav_box_head">
                      <h5>Set travel Time (optional)</h5>
                      <input readonly type="text" class="text-center" value="15 min">
                    </div>
                    <h5 class="mb-0 mt-2">Set Schedule</h5>
                    <% coach_schedule_day.forEach(function(schedule_day, i){ %>
                    <div class="trav_box_body">
                      <div class="card p-2 border mb-0">
                        <div class="form-check form-switch">
                          <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                          <label class="form-check-label" for="flexSwitchCheckChecked"><%-schedule_day?.name%></label>
                        </div>
                        <% schedule_day.times_details.forEach(function(time, i){ %>
                        <div class="trav_int_group">
                          <input readonly type="time" value="<%-time?.start_time%>">
                          <span>-</span>
                          <input readonly type="time" value="<%-time?.end_time%>">
                        </div>
                        <% }); %>
                      </div>
                    </div>
                    <% }); %>
                  </div>
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                  <!-- <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save Changes</button> -->
                  <a href="/admin/caochlisting" class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                </div>
                </form>
                <!-- users edit account form ends -->
              </div>
            </div>
          </div>
      </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>> Bookings <<<<<<<<<<<<<<<<<<<<<<<<<<< -->
      <h1>Package Details</h1>
      <section id="basic-datatable">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- <a class="leftbtn" style="margin-left: 88%;"href="/admin/category"> <button class="btn-sm btn-success">Add category</button></a> -->
              <div class="table-responsive">
                <table class="table myTable">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Title</th>
                      <th>Number oF Hours</th>
                      <th>Price </th>
                    </tr>
                  </thead>

                  <% userview.package_details.forEach(function(package, i){ %>
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>

                    <td>
                      <%-package?.title%>
                    </td>
                    <td>
                      <%-package?.number_of_hours%>
                    </td>
                    <td>
                      <%-package?.price%>
                    </td>
                  </tr>
                  <% }); %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>> Bookings <<<<<<<<<<<<<<<<<<<<<<<<<<< -->
      <h1>Bookings Details</h1>
      <section id="basic-datatable">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- <a class="leftbtn" style="margin-left: 88%;"href="/admin/category"> <button class="btn-sm btn-success">Add category</button></a> -->
              <div class="table-responsive">
                <table class="table myTable">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>User Name</th>
                      <th>Coach Name</th>
                      <th>Booking Type</th>
                      <th>Start Time </th>
                      <th>End Time </th>
                      <th>Price</th>
                      <th>Booking Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <% find_bookings.forEach(function(booking, i){ %>
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>
                    <td>
                      <%-booking?.student_details?.first_name%> <%-booking?.student_details?.last_name%>
                    </td>
                    <td>
                      <%-booking?.coach_details?.first_name%> <%-booking?.coach_details?.last_name%>
                    </td>
                    <td>
                      <%-booking?.booking_type%>
                    </td>
                    <td>
                      <%-booking?.start_time%>
                    </td>
                    <td>
                      <%-booking?.end_time%>
                    </td>
                    <td><%-booking?.price%></td>

                    <td>
                      <%- 
                        booking?.booking_status === 0 
                        ? '<li style="margin:0px;" class="btn btn-sm btn-danger">Pending</li>' 
                        : booking?.booking_status === 1 
                        ? '<li style="margin:0px;" class="btn btn-sm btn-warning">Accepted</li>'
                        : booking?.booking_status === 2 
                        ? '<li style="margin:0px;" class="btn btn-sm btn-success">Completed</li>' 
                        : booking?.booking_status === 3 && booking?.cancel_request === 1 
                        ? '<li style="margin:0px;" class="btn btn-sm btn-dark">Cancelled by Student</li>'
                        : booking?.booking_status === 3 && booking?.cancel_request === 2 
                        ? '<li style="margin:0px;" class="btn btn-sm btn-dark">Cancelled by Coach</li>'
                        : '' 
                      %>
                    </td>
                    
                    <td>
                      <a href="/admin/bookingview/<%-booking.id%>" style="margin:0px;" class="btn btn-sm btn-success">View</a>
                      <!-- <button onclick="deleteUser('<%-booking.id%>')"
                                                                       style="margin:0px;"
                                                                       class="btn btn-sm btn-danger deletdat>">Delete</button> -->
                    </td>
                  </tr>
                  <% }); %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>> Transactions <<<<<<<<<<<<<<<<<<<<<<<<<<< -->
      <h1>Transactions Details</h1>
      <section id="basic-datatable">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="d-flex p-2 justify-content-between">
                <a class="leftbtn" href="#"> <button class="btn-sm btn-dark">Total earning: $<%= find_transaction[0]?.dataValues?.total_earning%></button></a>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Earnings total_earning
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/admin/caochview/<%-userview.id%>?type=0">All</a></li>
                    <li><a class="dropdown-item" href="/admin/caochview/<%-userview.id%>?type=1">monthly</a></li>
                    <li><a class="dropdown-item" href="/admin/caochview/<%-userview.id%>?type=2">yearly</a></li>
                    <li><a class="dropdown-item" href="/admin/caochview/<%-userview.id%>?type=3">weekly</a></li>
                  </ul>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table myTable">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>User Name</th>
                      <th>Coach Name</th>
                      <th>TranstionId</th>
                      <th>Price</th>
                      <th>Commission(%)</th>
                      <th>Commission Amount</th>
                      <th>Coach earning</th>
                      <th>Payment Method</th>
                      <th>Payment Status</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>

                  <% find_transaction.forEach(function(transaction, i){ %>
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>
                    <td>
                      <%-transaction?.student_details?.first_name%>
                      <%-transaction?.student_details?.last_name%>
                    </td>
                    <td>
                      <%-transaction?.coach_details?.first_name%>
                      <%-transaction?.coach_details?.last_name%>
                    </td>
                    <td>
                      <%-transaction?.transaction_id%>
                    </td>

                    <td>$<%-transaction?.amount%></td>
                    <td><%-transaction?.commission%></td>
                    <td>$<%-transaction?.commission_amount%></td>
                    <td>$<%-transaction?.coach_amount%></td>
                    <td>Card</td>

                    <td>


                      <% if (transaction?.payment_status==1) { %>
                      <li style="margin:0px;" class="btn btn-sm btn-success">Pending</li>
                      <% } else if (transaction?.payment_status==2 ) { %>
                      <li style="margin:0px;" class="btn btn-sm btn-danger">Completed</li>
                      <% } else { %>
                      <li style="margin:0px;" class="btn btn-sm btn-danger">Pending
                      </li>
                      <% } %>

                    </td>

                    <!-- <td> -->
                    <!-- <a href="/admin/transactionview/<%-transaction.id%>"
                                                                   style="margin:0px;"
                                                                   class="btn btn-sm btn-success">View</a> -->
                    <!-- <button onclick="deleteUser('<%-transaction.id%>')"
                                                                   style="margin:0px;"
                                                                   class="btn btn-sm btn-danger deletdat>">Delete</button> -->
                    <!-- </td> -->
                  </tr>
                  <% }); %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  </div>
  <!-- END: Content-->
  <%- include('../common/footer.ejs'); %>
  <!-- DATA TABLE  -->
  <script>
    $(document).ready(function() {
      $('.myTable').DataTable();
    });
  </script>