<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Guided Coaching Edit</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section class="app-user-edit">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account Tab starts -->
                                            <div class="tab-pane active" id="account" aria-labelledby="account-tab"
                                                role="tabpanel">
                                                <!-- users edit start -->

                                                <!-- users edit ends -->
                                                <!-- users edit account form start -->
                                                <form action="/admin/guid_coachviewupdate/<%-Guid_coachview.id%>"
                                                    method="post" class="form-validate" novalidate="novalidate"
                                                    enctype="multipart/form-data">

                                                    <!-- <div class="d-flex mb-2">
                                                        <input  type="file" name="image" required>
                                                        <img  id="myImg" src="<%-Guid_coachview.image%>" alt="users avatar"
                                                            class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer"
                                                            height="100" width="100">
                                                        <div class="mt-50">
                                                            <h4></h4>
                                                        </div>
                                                    </div> -->
                                                    <div class="d-flex mb-2 align-items-center">
                                                        <input type="file" name="image" id="fil_up"
                                                            class="visually-hidden" required>

                                                        <div class="mt-50">
                                                            <h4>Image</h4>
                                                            <label for="fil_up">
                                                                <img src="<%-Guid_coachview.image%>" alt="users avatar"
                                                                    class="user-avatar users-avatar-shadow rounded me-2 my-25 cursor-pointer"
                                                                    height="90" width="90">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-1">
                                                            <label class="form-label" for="name">Name</label>
                                                            <input required="text" class="form-control"
                                                                placeholder="Name" value="<%-Guid_coachview.name%>"
                                                                name="name" id="name">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-1">
                                                                <label class="form-label"
                                                                    for="description">Description</label>
                                                                <input required="text" class="form-control"
                                                                    placeholder="description"
                                                                    value="<%-Guid_coachview.description%>"
                                                                    name="description" id="description">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                        <button type="submit"
                                                            class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Save
                                                            Changes</button>
                                                        <a href="/admin/guid_coachlisting"
                                                            class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                                                    </div>

                                                </form>
                                                <!-- users edit account form ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                    <!-- other data  -->
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Guided Coaching Details</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">   
                                            <!-- <a class="leftbtn" style="margin-left: 78%;"href="/admin/content/?id=<%-Guid_coachview.id%>"> <button class="btn-sm btn-success">Add Guided Coaching Content</button></a> -->
                                            <table class="table" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Video</th>
                                                        <!-- <th>Like Type</th> -->
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <% find_content.forEach(function(content, i){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i+1 %>
                                                        </th>
                                                        
                                                        <td>
                                                            <iframe  width="150" height="100" src="<%=content.link%>">
                                                            </iframe>
                                                            <!-- <%=content.link%> -->
                                                        </td>
    
                                                        <td><%=content.link.slice(0,20)%> ....</td>
                                                        <td>
                                                            <input type="checkbox" value="<%= content.id %>"
                                                                class="toggle_data" data-toggle="toggle"
                                                                data-on="Active" data-off="Inactive"
                                                                data-onstyle="success" data-offstyle="danger"
                                                                <%=content.status==1? "checked" :''%>>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/contentview/<%-content.id%>/?id=<%-Guid_coachview.id%>" style="margin:0px;"
                                                                class="btn btn-sm btn-success">View</a>
                                                            <a href="/admin/contentedit/<%= content.id %>/?id=<%-Guid_coachview.id%>" style="margin:0px;"
                                                                class="btn btn-sm btn-warning">Edit</a>

                                                            <!-- <button onclick="deleteUser('<%-content.id%>')" style="margin:0px;" class="btn btn-sm btn-danger deletdat>">Delete</button> -->
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>



                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>

                <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                rel="stylesheet">
            <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
            <!-- DATA TABLE  -->
            <script>
                $(document).ready(function () {
                    $('#myTable').DataTable();
                });

            </script>
            <!-- DATA USER STATUS  -->
            <script>
                $(function () {
                    $('.toggle_data').change(function () {
                        // $('#console-event').html('Toggle: ' + $(this).prop('checked'))
                        let active_data = $(this).prop('checked')

                        let get_value = active_data == true ? 1 : 0
                        let category_id = $(this).prop('value')

                        $.ajax({
                            type: "POST",
                            url: "/admin/content_status",
                            data: {
                                id: category_id,
                                value: get_value
                            },
                            success: function (response) {

                                if (response == true) {
                                    // location.reload()
                                }
                            },
                            error: function (response) {

                            }
                        });

                    })
                })
            </script>
            <!-- DATA USER DELETED  -->
            <script>
                function deleteUser(category_id) {
                    // alert(category_id)
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: "btn btn-success",
                            cancelButton: "btn btn-danger"
                        },
                        buttonsStyling: false
                    });
                    swalWithBootstrapButtons.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel!",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {


                            $.ajax({
                                type: "POST",
                                url: "/admin/deleted_content",
                                data: {
                                    id: category_id,
                                    is_deleted: 1
                                },
                                success: function (response) {
                                    ;
                                    if (response == true) {
                                        swalWithBootstrapButtons.fire({
                                            title: "Deleted!",
                                            text: "Your Guided & Coaching has been deleted.",
                                            icon: "success"
                                        }).then((suc) => {
                                            location.reload()
                                        });

                                    }
                                },
                                error: function (response) {

                                }
                            });

                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire({
                                title: "Cancelled",
                                text: "Your user is safe :)",
                                icon: "error"
                            });
                        }
                    });
                }
            </script>

<script>
    $("#validate input").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length)
            e.preventDefault();
    });
    $("#validate textarea").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length)
            e.preventDefault();
    });
</script>

